<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <div class="container" >
      <aside class="scrollnavbar">
        <div class="top">
          <div class="sidebar"></div>
          <div *ngFor="let name of navBarDate">
            <h2>{{name.title}}</h2>
            <div *ngFor="let link of name.link">
              <a [routerLink]="['/' + (link.label | lowercase)]"
                 routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <mat-icon class="icons">{{link.icon}}</mat-icon>
              <h3>{{link.label}}</h3>
              </a>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
