* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;

}
.container {
  display: flex;
  align-items: flex-start;
  width: 200px;
  margin: 0 2%;
  gap: 1.8rem;
  direction: ltr;
}
a{
  display: flex;
  color: #f2f2f2;
}
h1 {font-weight: 800;font-size: 1.3rem;}  h2 {font-size: 1.1rem;}  h3 {font-size: 1rem;}  h4 {font-size: 0.7rem;}
h5 {font-size: 0.6rem;}
aside {
  direction: ltr;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 180px;
  padding: 2px;
  margin: 0 0;
  border-radius: 25px;

}
mat-toolbar {
  background: #5dcad8;
  color: white;
  height: 50px;
}

mat-sidenav {
  margin: 16px;
  width: 245px;
  border-right: none;
  background: linear-gradient(to bottom, #5dcad8 0%, #298bd1 100%);
  color: white;
  border-radius: 10px;
  padding: 16px;

}
mat-sidenav-container {
  height: calc(100vh);
}
.mat-drawer-container {
  background: rgba(0, 0, 0, 0);
}
.mat-divider {
   border-top-style: none;
}
.mat-drawer.mat-drawer-side {
  direction: rtl;
}
/*.activemenu {*/
/*  text-decoration: none;*/
/*}*/
/*.activemenu:hover {*/
/*  color: #0c65a6;*/
/*}*/

:host::ng-deep .mat-drawer-inner-container::-webkit-scrollbar {
  width: 5px;
  direction: ltr;
}
:host::ng-deep .mat-drawer-inner-container::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, #5dcad8 0%, #298bd1 100%);
}
:host::ng-deep .mat-drawer-inner-container::-webkit-scrollbar-thumb {
  background: #0c65a6;
  border-radius: 15px;
}
