<form [formGroup]="registerForm" (ngSubmit)="submit()">
  <div class="container-form">
    <mat-form-field class="login">
      <mat-label>Логин</mat-label>
      <input matInput type="text" formControlName="login">
      <mat-error  *ngIf="getFormControl('login').invalid && getFormControl('login').touched" class="validation">
        {{getAuthErrorMessage('login')}}
      </mat-error>
    </mat-form-field>

    <div class="example-container">
      <mat-form-field>
        <mat-label>Введите пароль</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <mat-error   *ngIf="getFormControl('password').invalid && getFormControl('password').touched" class="validation">
          {{getAuthErrorMessage('password')}}
        </mat-error>

        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="example-container">
      <mat-form-field>
        <mat-label>Повторите пароль</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="passwordRepeat">
        <mat-error   *ngIf="getFormControl('passwordRepeat').invalid && getFormControl('passwordRepeat').touched" class="validation">
          {{getAuthErrorMessage('passwordRepeat')}}
        </mat-error>

        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <section>
      <div class="example-label"></div>
      <div class="example-button-row">
        <button class="btn" type="submit" [disabled]="registerForm.invalid" mat-raised-button color="primary">Создать</button>
      </div>
    </section>

  </div>
</form>

